<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      productos
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="warning" slot="icon-only" name="grid-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon color="danger" slot="icon-only" name="person-circle-outline"></ion-icon>        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let producto of productos">
    <app-producto [producto]= producto></app-producto>
  </div>
</ion-content>
