

.encabezado{
    background: rgb(119, 107, 19);
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.btn_guardar{
    margin: 30px;
}

.btn_nuevo{
    text-align: end;
    margin: 10px;
}

.img_producto{
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
}